/* * Global */
*::selection {
  background-color: var(--c-primary);
  color: var(--c-white);
}

body {
  font-family: var(--f-base);
  font-size: var(--fs-base);
  font-weight: 400;
  color: var(--c-black);
  background-color: var(--c-white);
}

.home {
  position: fixed;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.button {
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--c-primary);
  color: var(--c-white);
  border: 1px solid var(--c-primary);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

/* * Header*/
.header {
  background-color: var(--c-white);
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  max-width: 200px;
}

.navigation-list-item-a {
  color: var(--c-black);
  /* Use padding instead of gap for better UX (expanding hover field) */
  padding: 10px;
  display: flex;
  transition: all 0.35s ease-in-out;
}

.navigation-list-item-a:hover {
  color: var(--c-primary);
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-buttons {
  display: flex;
  gap: 30px;
}

.button--sign-in {
  border-color: var(--c-white-secondary);
  background-color: var(--c-white);
  color: var(--c-black);
}

.button:hover {
  background-color: var(--c-black);
  border-color: var(--c-black);
}

.button--sign-in:hover {
  color: var(--c-white);
  border-color: var(--c-black);
}

/* * Banner */
.banner-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner-content {
  max-width: 500px;
}

.banner-title {
  font-weight: 700;
  font-size: 2.75em;
  margin-bottom: 30px;
}

.banner-text {
  color: var(--c-black-secondary);
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 20px;
}

.button--big {
  font-family: var(--f-secondary);
  padding-left: 45px;
  padding-right: 45px;
  height: 50px;
  font-weight: 700;
  text-align: center;
}

.banner-img {
  max-width: fit-content;
}