:root {
  // * Colors
  --c-black: #16133d;
  --c-grey: #7690a8;
  --c-grey-two: #efeef3;
  --c-grey-three: #e5eaf4;
  --c-white: #ffffff;
  --c-green: #3db370;
  --c-blue: #1565d81a;
  // * Fonts
  --f-primary: "Roboto", sans-serif;
  --f-secondary: "Nunito Sans", sans-serif;
  --f-logo: "Quicksand", sans-serif;
  // * Font weights
  --fw-base: 400;
  --fw-bold: 600;
  --fw-logo: 500;
  // * Font sizes
  --fs-primary: 16px;
  --fs-logo: 2.25em;
  --fs-heading: 2.5em;
  --fs-secondary: 1.5em;
}
