//- Elements
include ./elements/index
//- Components
include ./components/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Box model 
    //- * Styles
    link(rel='stylesheet' href='../index.css')
    //- * Icons
    link(rel='stylesheet' href='./icons/weather-icons.min.css')
    //- * Favicon
    link(rel='shortcut icon' href='../../favicon.ico' type='image/x-icon')
    //- * Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
  body 
  .app 
    a(href="") HOME
    //- * Header
    +header 
    //-  * Table
    main.wrapper.wrapper-table 
      .row 
        .row-block--large.row-block--light-blue.row-block-wrapper
          div   
            span Lisbon
            div 21°C
        .row-block--small.row-block--dark-blue.row-block-wrapper