/* * Global */

body {
  height: 100vh;
  background-color: var(--c-background);
  color: var(--c-white);
  font-family: var(--f-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
}

.table-wrapper {
  background-color: var(--c-white);
  border: 1px solid var(--c-white);
  margin-left: 135px;
  margin-right: 135px;
}

p {
  display: flex;
  align-items: center;
}

/* * Styles for every block */
.row {
  display: flex;
}

.block-wrapper {
  height: 147px;
  border: 1px solid var(--c-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  transition: all .35s ease-in-out;
  cursor: pointer;
}

.block-wrapper:hover {
  opacity: 1;
}

.row-block--small {
  width: 25%;
}

.row-block--large {
  width: 50%;
}

.row-block--whole-width {
  width: 100%;
}


/* * Header and footer */
h1,
h2 {
  font-weight: var(--fw-base);
}

h1 {
  font-size: 1em;
  margin-bottom: 35px;
  margin-top: 60px;
}

h2 {
  font-size: 0.72em;
  margin-top: 35px;
}

.header-wrapper,
.footer-wrapper {
  margin-left: 135px;
  margin-right: 135px;
}

/* * First row */
/* 
.row-block--big {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  Запис знизу - скорочений запис трьох рядків зверху
  flex: 2 1 0;
} */

.row-block--light-blue {
  background-color: rgba(148, 202, 230, 0.7);
}

.row-block--light-blue:hover {
  background-color: rgba(148, 202, 230, 1);
}

.row-block--dark-blue {
  background-color: rgba(51, 204, 204, 0.7);
}

.row-block--dark-blue:hover {
  background-color: rgba(51, 204, 204, 1);
}

.row-block--violet {
  background-color: rgba(153, 102, 153, 0.7);
}

.row-block--violet:hover {
  background-color: rgba(153, 102, 153, 1);
}

/* * Second row */

.row-block--red {
  background-color: rgba(194, 71, 71, 0.7);
}

.row-block--red:hover {
  background-color: rgba(194, 71, 71, 1);
}

.row-block--orange {
  background-color: rgba(226, 103, 74, 0.7);
}

.row-block--orange:hover {
  background-color: rgba(226, 103, 74, 1);
}

.row-block--yellow {
  background-color: rgba(255, 204, 102, 0.7);
}

.row-block--yellow:hover {
  background-color: rgba(255, 204, 102, 1);
}

.row-block--light-green {
  background-color: rgba(153, 204, 153, 0.7);
}

.row-block--light-green:hover {
  background-color: rgba(153, 204, 153, 1);
}

/* * Third row */

.row-block--dark-green {
  background-color: rgba(102, 153, 153, 0.7);
}

.row-block--dark-green:hover {
  background-color: rgba(102, 153, 153, 1);
}

.row-block--pink {
  background-color: rgba(204, 102, 153, 0.7);
}

.row-block--pink:hover {
  background-color: rgba(204, 102, 153, 1);
}

.row-block--normal-green {
  background-color: rgba(51, 153, 102, 0.7);
}

.row-block--normal-green:hover {
  background-color: rgba(51, 153, 102, 1);
}

/* * Fourth row */
.row-block--purple {
  background-color: rgba(102, 102, 153, 0.7);
}

.row-block--purple:hover {
  background-color: rgba(102, 102, 153, 1);
}

/* * Icons */
.wi {
  font-size: 42px;
  margin-left: 10px;
}