/* * Global */
body {
  background-color: var(--c-black);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* * Lines */

.line {
  position: fixed;
  z-index: 1;
  width: 650px;
  height: 3px;
  background-color: var(--c-white);
  transition: transform 3s ease-in-out;
}

.line--45 {
  rotate: 45deg;
}

.line--90 {
  rotate: 90deg;
}

.line--135 {
  rotate: 135deg;
}

/* * For lines and small circles */
.moving-parts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 650px;
  /* For positioning small circles */
  position: relative;
}

/* * Circles */

/* * Central circles */
.outter-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* For making circles be infront of lines */
  position: fixed;
  z-index: 3;
  width: 300px;
  height: 300px;
  background-color: var(--c-white);
  border-radius: 50%;
  border: 12px solid var(--c-primary);
  cursor: pointer;
}

.inner-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--c-secondary);
  border: 12px solid var(--c-primary);
}

/* * Small circles */
/* * Animation while small circle:hover */
/* Small circles should go to the center */
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--c-primary);
  border: 12px solid var(--c-white);
  border-radius: 50%;
  cursor: pointer;
  /* Більше секунд, щоб кола не дьоргались при ховері */
  transition: transform 3s ease-in-out;
}

.circle--top {
  top: 0;
}

.circle--top:hover {
  transform: translateY(50px);
}

.circle--top-right {
  /* 50px - це половина діаметра кола, але потрібно трішки більше */
  top: 75px;
  right: 75px;
}

.circle--top-right:hover {
  transform: translate(-50px, 50px);
}

.circle--right {
  right: 0;
}

.circle--right:hover {
  transform: translateX(-50px);
}

.circle--bottom-right {
  bottom: 75px;
  right: 75px;
}

.circle--bottom-right:hover {
  transform: translate(-50px, -50px);
}


.circle--bottom {
  bottom: 0;
}

.circle--bottom:hover {
  transform: translateY(-50px);
}

.circle--bottom-left {
  bottom: 75px;
  left: 75px;
}

.circle--bottom-left:hover {
  transform: translate(50px, -50px);
}

.circle--left {
  left: 0;
}

.circle--left:hover {
  transform: translateX(50px);
}

.circle--top-left {
  top: 75px;
  left: 75px;
}

.circle--top-left:hover {
  transform: translate(50px, 50px);
}

/* * Animation while outter-circle:active */
/* Everything should move around*/
.small-circles {
  transition: transform 3s ease-in-out;
  width: 650px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* ! Мають рухатись фігурки, а не батько */
.outter-circle:active+.moving-parts .moving-part {
  transform: rotate(360deg);
}