/* * Global */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(234, 226, 230, 0.58);
}

/* * Header */
.header-logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* * Footer */
.footer-logo {
  width: 50px;
}

/* * Navigation (nav)*/
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgba(51, 162, 142, 1);
}

/* * Aside */
aside {
  width: 40%;
  float: left;
}

/* * Main */
h1,
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  padding-bottom: 5px;
}

h1 {
  color: rgba(51, 162, 142, 1);
  font-size: 80px;
}


/* * News section */
h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.news {
  display: flex;
  justify-content: space-between;
}

article {
  border: 5px solid rgba(51, 162, 142, 1);
}

/* * Iframes */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* * Video */
video {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* * Audio */
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}